  <footer id="footer" role="contentinfo">
    <div class="container-fluid">    
      <div class="pull-left">&copy; rma.csi.pl 2015</div></br>
      <div class="row"> 
        <div class="col-xs-6 col-md-7"><a href="#" >OWS</a></div>
        <div class="col-xs-6 col-md-7"><a href="#" >Warunki gwarancji</a></div>
        <div class="col-xs-6 col-md-7"><a href="#" >Polityka prywatności</a></div>
      </div>
    </div>
  </footer>