body {
	font-family: "Open Sans", sans-serif;
	color: #727272;
	font-weight: 300;
	padding-right: 0px !important;
	padding-left: 0px !important;
	line-height: 2;
	font-size: 14px
}
a {
	color: #E9322D;
}
a:hover, a:focus {
	color: #E9322D;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Raleway", sans-serif;
	color: #000;
}
li {
	line-height: 2
}

.logo {
	background: url("/images/logo.png") no-repeat 0 0;
	height: 40px;
	margin-top: 10px;
	width: 130px;
	z-index: 1250 !important;
	position: absolute;
	background-size: cover;
}
a.logo span {
	display: block;
	background: url("/images/shine.png") -60px -80px no-repeat;	

	transition-property: all;
	transition-duration: .8s;

	height: 70px;
	width: 91px;
}
a.logo span {
	border-radius: 50%;
}
a.logo:hover span {
	background-position: 100px 100px;
}
.spacer {
	padding: 32px
}
.container-fluid {
	margin: 0 auto;
	min-height: 100% !important;
}
.tytul {
	background: #000000;
}
.tytul h2.pagetitle {
	color: #fff;
	font-weight: 300;
	margin-top: 20px;
}
#page{padding: 50px 0}
#bottom {
	background: #000;
	padding: 50px 0;
}
#footer {
	background: #303030 none repeat scroll 0 0;
	color: #999999;
	padding: 25px;
	font-size: 12px;
}
#producenci{background: #eee;padding: 40px 0}
.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
	box-shadow: 0 0 0 none
}
.navbar .nav > li > a {
	font-family: "Raleway", sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 400;
	padding: 20px 15px;
}
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
	color: #E9322D;
	background: none;
	box-shadow: 0 0 0 #fff
}

.breadcrumb {
	background: none;
	padding: 8px 15px 8px 0px;
}
.breadcrumb > li {
	text-shadow: 0 0 0 #000
}
.breadcrumb > .active {
	color: #FFFFFF
}
.breadcrumb .divider.icon-location{display: none}
.pathway{color: #bbb}

/* moduł */
#aktualnosci h3.title {
	background: rgba(0, 0, 0, 0) url("../img/module_title.png") no-repeat scroll center bottom;
	font-size: 35px;
	font-weight: 200;
	margin-bottom: 59px;
	padding-bottom: 20px;
	text-transform: uppercase;
	text-align: center
}
.nspArt h4.nspHeader {
	font-size: 20px !important;
	border-bottom: 1px solid #d3d3d3;
	float: left;
	font-weight: 400;
	margin-bottom: 20px !important;
	margin-top: 25px !important;
	padding-bottom: 8px;
	text-transform: uppercase;
	width: 100%;
	line-height: 1.4;
}
.nspArt h4.nspHeader a {
	color: inherit;
}
.nspArt h4.nspHeader a:hover {
	color: #e9322d
}
.nspArt img.nspImage {
	border-bottom: 5px solid #fc4242 !important;
}
a.nspImageWrapper:hover .nspArt img.nspImage {
	border-bottom: 5px solid #272727 !important;
}
#cookie_law_widget {
	margin: 10px auto;
	width: 50%;
	display: inline-block;
}
.displaynone {
	display: none !important;
}

@media (min-width: 1190px) {
	.container-fluid {
		width: 1200px;
	}
}

/* lewe menu */
ul.cf_filters_list  {margin-left: 0px}
.VMmenu li,
.cf_filters_list > li  {
  border: 1px solid #dddddd;
  border-radius: 0;
  padding: 12px 12px !important;
  margin-bottom: -1px;
}
/*Category tree*/
.cfLiLevel1 a{
	margin-left: 5px !important;
}

.cfLiLevel2 a{
	margin-left: 10px !important;
}

.cfLiLevel3 a{
	margin-left: 10px !important;
}

.cfLiLevel4 a{
	margin-left: 10px !important;
}

.cfLiLevel5 a{
	margin-left: 10px !important;
}
.cfLiLevel1, .cfLiLevel2, .cfLiLevel3,.cfLiLevel4,.cfLiLevel5{color: #ddd}
.cf_filters_list > li a,
.cf_filters_list > li > a{display: block; color: #000}
.cf_filters_list > li > label > a{display: block;color: #888}
.cf_filters_list label input,
.cf_catOption label input{
	float: left;margin-right: 10px}
.cf_flt_header {
  line-height: 18px;
  padding-bottom: 18px !important;
}

.btn-lg{
	border-radius:0;
}

.navbar-default {
	background-color: #FFF;

	border: 1px solid #d4d4d4;
	box-shadow:0px 1px 10px rgba(0,0,0,0.1);
}

.field{
	margin: 0 10px 0 0;
	padding: 0;
}

.label-invert{
	color: #777777;
	background-color: #fff;
}

// eliminacja niektórych sprzeczności pomiędzy działaniem Devise i nazawmi klas bootstrap.
.field_with_errors { @extend .has-error; }
.alert-notice { @extend .alert-info; }
.alert-alert { @extend .alert-danger; }