.main-page-content{
	min-height: auto;
	padding-top:50px;
	padding-bottom:16px;
}

.szeroki{
	padding-left:16px;
	padding-right:16px;
}

.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

.box_field_inline{
	display: inline-flex;
	margin-top: 0px;
}